[Unit]
Description=Webapp Service
After=network.target cloud-init.target
DefaultDependencies=no
ConditionPathExists=/opt/csye6225/webapp

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/bin/bash -c 'ls -al && /usr/bin/node server.js'
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
